@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navHover {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.navHover::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #002fa7;
  transition: width 0.3s ease;
}

.navHover:hover::before {
  width: 100%;
}

/* 更改滾動條軌道（滾動條背景） */
div::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  margin: 15vh;
}

/* 更改滾動條的滑塊（可拖動的部分） */
div::-webkit-scrollbar-thumb {
  background: #002fa7;
  border-radius: 10px;
}

/* 滑塊hover效果 */
/* div::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* 設定滾動條寬度 */
div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.handwriting {
  font-family: "JasonHandwriting", cursive;
}
