@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navHover {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.navHover::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #002fa7;
  transition: width 0.3s ease;
}

.navHover:hover::before {
  width: 100%;
}
